/* Grid */

.sidebar {
    display: flex;
    width: 230px;
    height: 100%;
    padding: 20px 20px 5px;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    overflow-y: auto;
    pointer-events: none;
    a {
        pointer-events: auto;
    }
}

.main {
    min-height: 100%;
    padding: 1px 1px 70px 1px;
}

.container {
    max-width: $desktop-xxl;
    padding: 0 $gutter;
    margin: 0 auto;
}

@media (min-width: $phone) {
    .main {
        padding-left: 231px;
    }
}
