/* Grid */

.wrapper {
    overflow-x: hidden;
}

.sidebar {
    display: flex;
    width: 250px;
    height: 100vh;
    padding: 20px 20px 5px;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    background: #fff;
}

.main {
    min-height: 100vh;
    padding: 2px 2px 0 252px;
    background: #000;
}

.container {
    max-width: $desktop-xxl;
    padding: 0 $gutter;
    margin: 0 auto;
}
