/* Home specific style */

/*.portfolio {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pic {
    max-width: 32%;
}*/

.portfolio {
    &.off {
        .pic-link {
            > img {
                opacity: 0.7;
            }
        }
    }
}

.pic {
    padding: 1px;
    overflow: hidden;
    transition: opacity 0.3s ease-in-out;
}

.pic-new {
    opacity: 0;
}

.pic-link {
    display: block;
    border: 0;
    position: relative;
    &.off {
        opacity: 0;
        pointer-events: none;
    }
    > img {
        width: 100%;
        transition: opacity 0.3s ease-in-out;
    }
}

.popin {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 200;
    background: #000;
    &.on {
        display: block;
    }
    > button {
        position: absolute;
    }
}

.popin-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    > img {
        max-height: 95%;
        max-width: 95%;
    }
}

.popin-close,
.popin-nav {
    position: absolute;
    > svg {
        fill: #fff;
        transition: 0.3s ease-in-out;
        transform-origin: 50% 50%;
    }
}
.popin-close {
    width: 50px;
    height: 50px;
    padding: 12px 14px 15px;
    top: 0;
    right: 0;
    z-index: 10;
    border-radius: 50%;
    background: #000;
    transition: 0.3s ease-in-out;
    transform-origin: 50% 50%;
    &:active {
        transform: scale(1.1);
        > svg {
            transform: scale(0.85);
        }
    }
}
.popin-nav {
    width: 50%;
    top: 0;
    bottom: 0;
    &:active {
        &:after,
        > svg {
            transform: scale(1.15);
        }
    }
    &[disabled] {
        opacity: 0.4;
    }
    &:after,
    > svg {
        position: absolute;
    }
    &:after {
        content: '';
        width: 50px;
        height: 50px;
        bottom: 0;
        border-radius: 50%;
        background: #000;
    }
    > svg {
        width: 24px;
        bottom: 12px;
        z-index: 1;
    }
}
.popin-prev {
    left: 0;
    &:after {
        left: 0;
    }
    > svg {
        left: 11px;
    }
}
.popin-next {
    right: 0;
    &:after {
        right: 0;
    }
    > svg {
        right: 11px;
    }
}

.loader {
    width: 42px;
    height: 42px;
    border: 3px solid rgba($txt, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: -1;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    &.on {
        opacity: 1;
        animation: loading 1.5s ease-in-out 0s infinite;
    }
}

.loader-pics {
    position: fixed;
    top: auto;
    bottom: 20px;
    z-index: 200;
    border-color: $txt;
}

@keyframes loading {
    0% {
        transform: scale(1) translate3d(0, 0, 0);
        opacity: 1;
    }
    50% {
        transform: scale(1.2) translate3d(0, 0, 0);
        opacity: 0;
    }
}

@media (min-width: $phone) {
    .loader-pics {
        left: 230px;
    }
}

@media (min-width: $desktop-small) {
    .portfolio {
        &:hover {
            .pic-link {
                > img {
                    opacity: 0.7;
                }
            }
        }
        .pic-link {
            &:hover,
            &:focus {
                > img {
                    opacity: 1;
                }
            }
        }
    }

    .popin-close {
        &:hover,
        &:focus {
            transform: scale(1.05);
            > svg {
                transform: scale(0.85);
            }
        }
    }

    .popin-nav {
        &:hover,
        &:focus {
            &:after,
            > svg {
                transform: scale(1);
            }
        }
        &:after,
        > svg {
            top: 0;
            bottom: 0;
            margin: auto;
            transition: 0.3s ease-in-out;
            transform-origin: 50% 50%;
            transform: scale(0);
        }
    }
}
