@font-face {
    font-family: 'DINEngschrift';
    src: local('DINEngschrift'), url('../../fonts/DINEngschrift.woff2') format('woff2'),
        url('../../fonts/DINEngschrift.woff') format('woff');
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    unicode-range: U+000-5FF; /* Latin glyphs */
}
